* {
  margin: 50;
  padding: 50;
  box-sizing: content-box;
}

body {
  background: linear-gradient(to right, #04307dba 0%, #3277c0a1 100%);
}

h1 {
  text-align: center;
  margin-top: 40px;
  color: rgba(13, 13, 17, 0.757);
  text-decoration-style: double;
  text-decoration: solid;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 900;

}
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 30px 30px 0px 0px;
}
.container > div {
  border-radius: 30px;
  padding: 20px;
  min-width: 300px;
  max-width: 400px;
  background-color: rgba(193, 175, 175, 0.269);
  transition: all 0.2s cubic-bezier(0.77, 0, 0.175, 1);
}
.container > div:hover {
  box-shadow: rgba(159, 162, 167, 0.238) 0px 5px 15px;
  transform: scale(1.03);
}
img {
  width: 100%;
}
li{
  text-align: right;
  text-decoration: underline;
  text-shadow: #c1c7cc3f;
  text-size-adjust: 500px;
  text-decoration: double;
}